.carousel-item img {
    width: 50%;
    height: 500px; /* Ajusta la altura según tus necesidades */
    object-fit: cover; /* Esto asegurará que la imagen se recorte para llenar el contenedor manteniendo su relación de aspecto */
}


